/* Write your CSS here */
.bg-container {
  min-height: 100vh;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  height: 40vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}
